<!DOCTYPE HTML>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">

</head>
<body>


<table>
  <caption><span th:text="${data_year}"id="year"></span>年<span th:text="${data_month}"id="month"></span>月<span th:text="${data_day}"id="day"></span>日の収支表</caption>

  <tr style="background:#ccccff">
    <th width="60">項目</th>
    <th width="60">金額</th>
    <th width="60">編集</th>
  </tr>
  <tr>
    <td>収入</td>
    <td><span th:text="${data_sum1}"id="income"></span></td>
    <td><input type="button" onclick="location.href='./classification/'" value=></td>  日付の書き換え
  </tr>
  <tr>
    <td>支出</td>
    <td><span th:text="${data_sum}"id="out"></span></td>
    <td><input type="button" onclick="location.href='./outClassification'" value="登録"></td>
  </tr>
  <tr>
    <td>貯金</td>
    <td><span th:text="${data_sum2}"id="acc"></span></td>
    <td><input type="button" onclick="location.href='./accClassification'" value="登録"></td>
  </tr>
</table>
<input type="button" onclick="location.href='./index'" value="戻る">

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
<div class ="chart"style="position: relative; height:35vh; width:70vw">
<canvas id="myChart" ></canvas></div>


<script type="text/javascript">

var ctx = document.getElementById("myChart").getContext('2d');
var out = document.getElementById("out").innerText;
var income = document.getElementById("income").innerText;
var acc= document.getElementById("acc").innerText;


console.log(document.getElementById("acc").innerText);


var out1 = Number(out);
var income1 = Number(income);
var out2=Number(income-out-acc);

var acc1 = Number(acc);



var myChart = new Chart(ctx, {

  type: 'pie',
  data: {
    labels: ["収入", "支出", "貯金"],
    datasets: [{
      backgroundColor: [
        "#2ecc71",
        "#3498db",
        "#95a5a6"
      ],
      data: [out2,out1,acc1]
    }]
  }
});


position.onload(){
var A1=document.getElement("year").innerText

}

</script>
<style type="text/css">

canvas{
  display: flex;
  justify-content:cenetr;
  align-items:center;
  margin:5 auto;
}
body {overflow-y:hidden;}
</style>


</body>
</html>